{% extends 'base.html' %}

{% block title %} Edit Profile {% endblock title %}

{% block content %}
<div class="bg-image" style="background: url('https://cdn.discordapp.com/attachments/1021257672454066207/1036278402807767190/bg.png')
    no-repeat center center fixed; 
    background-size: cover;
    min-height: 100vh;">
{% include 'navbar.html' %}
<link rel="stylesheet" href="
https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<div class="container">
    <div class="row align-items-center py-5">
        <div class="col">
            <div class="text-start">
                <button class="btn btn-success btn-sm rounded-4" onclick="history.back()">&larr; Back</button>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <h1><strong>Change Password</strong></h1>
            </div>
        </div>
        <div class="col">     
        </div>
    </div>
</div>
<div class = "container">
    <div class="card shadow mx-5 opacity-100 rounded-5">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                
                <div class="mb-3 mx-5">
                    <label for="input_email" class="form-label">Old Password</label>
                    <input type="password" class="form-control rounded-4" name="old_password">
                    
                </div>
                <div class="mb-3 mx-5">
                    <label for="input_email" class="form-label">New Password</label>
                    <input type="password" class="form-control rounded-4" name="new_password1" id = "new_password1">
                </div>
                <div class="mb-3 mx-5 wrapper">
                    <label for="input_email" class="form-label">Retype Password</label>
                    <input type="password" class="form-control rounded-4" name="new_password2" id = "new_password2">
                    <span>
                        <i class="fa fa-eye" aria-hidden="true" 
                        id="eye" onclick="toggle()"></i>
                    </span>
                    <script>
                        var state = false;
                        function toggle(){
                            if(state){
                                document.getElementById("new_password2").
                                    setAttribute("type","new_password2");
                                state = false;
                            }
                            else{
                                document.getElementById("new_password2").
                                    setAttribute("type","text");
                                state = true;
                            }
                        }
                    </script>
                </div>
                
                <div class="col">
                    <div class="text-end">
                        <button class="btn btn-success btn-sm rounded-4" type="submit">Save</button>
                        <a class="btn btn-danger btn-sm rounded-4" href="{% url 'home' %}">Cancel</a>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>
</div>

{% endblock content %}