{% extends 'base.html' %}

{% block title %} Edit Profile {% endblock title %}

{% block content %}

{% include 'navbar.html' %}
<link rel="stylesheet" href="
https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<div class="container">
    <div class="row align-items-center py-5">
        <div class="col">
            <div class="text-start">
                <button class="btn btn-success btn-sm rounded-4" onclick="history.back()">&larr; Back</button>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <h1><strong>Change Password</strong></h1>
            </div>
        </div>
        <div class="col">     
        </div>
    </div>
</div>
<div class = "container">
    <div class= "row row-cols-1 row-cols-md-3">
        <div class="col mx-0 px-0"></div>
        <div class="col mx-0 pb-5">
        <div class="card shadow mx-5 opacity-100 rounded-5" style="background-color: #D1EEEA;">
            <div class="card-body pb-3 px-3">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible fade show rounded-4 text-center" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="pt-3 px-3">
                        <label for="input_email" class="form-label">Old Password</label>
                        <input type="password" class="form-control rounded-4" name="old_password">
                        
                    </div>
                    <div class="pt-3 px-3">
                        <label for="input_email" class="form-label">New Password</label>
                        <input type="password" class="form-control rounded-4" name="new_password1" id = "new_password1">
                    </div>
                    <div class="pt-3 px-3">
                        <label for="input_email" class="form-label">Retype Password</label>
                        <input type="password" class="form-control rounded-4" name="new_password2" id = "new_password2">
                        
                    </div>
                    
                    <div class="text-end pt-3">
                        <a class="btn btn-danger rounded-4" onclick="history.back()">Cancel</a>
                        <button class="btn btn-success rounded-4" type="submit">Save</button>
                    </div>
                    
                </form>
            </div>
        </div>
        </div>
    <div class="col mx-0 px-0"></div>
</div>
</div>

{% endblock content %}