{% extends 'base.html' %}

{% load static %}

{% block title %} Login {% endblock title %}

{% block content %}
<div class="bg-image" style="background: url('https://cdn.discordapp.com/attachments/1036284643542061146/1048989320540852364/loginbg.png')
    no-repeat center center fixed; 
    background-size: cover;
    min-height: 100vh;">

  <div class="container py-5">
      <img src="{% static 'logo.png' %}" class="mx-auto d-block" style="width:10%">
  </div>
  
  <div class= "row row-cols-1 row-cols-md-3">
    <div class="col mx-0"></div>
    <div class="col mx-0">
    <div class="card shadow mx-3 opacity-100 rounded-5">
        <div class="card-body">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-danger alert-dismissible fade show rounded-4 text-center" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
        <form action="" method=POST>
          {% csrf_token %}
            <div class="mx-2 my-3">
              <label for="input_email" class="form-label">Username</label>
              <input type="text" class="form-control rounded-4" name="username" aria-describedby="emailHelp">
            </div>
            <div class="mx-2 mb-3">
              <label for="input_email" class="form-label">Password</label>
              <input type="password" class="form-control rounded-4" name="password">
            </div>
            <div class = "text-center">
              <a>New here?</a>
            </div>
            <div class = "text-center">
              <a href="{% url 'register' %}">Sign Up!</a>
            </div>
            <br>
            <div class = "text-center">
              <button type="submit" class="btn btn-primary rounded-4">Login</button>
            </div>
        </form>
        </div>
    </div>
    </div>
    <div class="col mx-0"></div>
  </div>

{% endblock content %}
</div>