{% extends 'base.html' %}

{% load static %}


{% block title %} Registration {% endblock title %}

{% block content %}
<div class="bg-image" style="background: url('https://unsplash.com/photos/Tk0B3Dfkf_4/download?ixid=MnwxMjA3fDB8MXxjb2xsZWN0aW9ufDF8NzgyMTIzfHx8fHwyfHwxNjY1NjYyNjE0&force=true&w=1920')
    no-repeat center center fixed; 
    background-size: cover;
    min-height: 100vh;">

  <div class="container py-5">
    <img src="{% static 'logo.png' %}" class="mx-auto d-block" style="width:10%;">
  </div>

  <div class= "container">
    <div class="card shadow mx-sm-5 opacity-100 rounded-5">
        <div class="card-body px-0">
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show rounded-4 mx-3" role="alert">
                Invalid input. Please try again.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label = "Close"></button>
            </div>
            {% endif %}
            <div class="text-truncate text-left pb-3 px-3">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="my-3">
                      <label for="input_email" class="form-label">Username:</label>
                      <input type="text" class="form-control rounded-4" name="username" aria-describedby="username">
                      <div class="text-wrap fw-light">
                        <ul>
                          <li><em>Note: This will be case sensitive in the future!</em></li>
                        </ul>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="input_email" class="form-label">First Name:</label>
                      <input type="text" class="form-control rounded-4" name="first_name" aria-describedby="first_name">
                    </div>
                    <div class="mb-3">
                      <label for="input_email" class="form-label">Last Name:</label>
                      <input type="text" class="form-control rounded-4" name="last_name" aria-describedby="last_name" >
                    </div>
                    <div class="mb-3">
                      <label for="input_email" class="form-label">Email:</label>
                      <input type="text" class="form-control rounded-4" name="email" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="input_email" class="form-label">Password:</label>
                      <input type="password" class="form-control rounded-4" name="password1">
                      <div class="text-wrap fw-light">
                        <ul>
                          <li>Your password can't be too similar to your other personal information.</li>
                          <li>Your password must contain at least 8 characters.</li>
                          <li>Your password can't be a commonly used password.</li>
                          <li>Your password can't be entirely numeric.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="input_email" class="form-label">Re-enter Password:</label>
                      <input type="password" class="form-control rounded-4" name="password2">
                    </div>
                    <div class = "text-center">
                      <a>Already registered?</a>
                    </div>
                    <div class = "text-center">
                      <a href="{% url 'login' %}">Log in!</a>
                    </div>
                    <div class="text-center pt-3">
                      <input type="submit" value="Sign me Up!" class="btn btn-primary rounded-4">
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock content %}
