{% extends 'base.html' %}

{% load static %}


{% block title %} Registration {% endblock title %}

{% block content %}
<div class="bg-image" style="background: url('https://unsplash.com/photos/Tk0B3Dfkf_4/download?ixid=MnwxMjA3fDB8MXxjb2xsZWN0aW9ufDF8NzgyMTIzfHx8fHwyfHwxNjY1NjYyNjE0&force=true&w=1920')
    no-repeat center center fixed; 
    background-size: cover;
    height: 100vh">
  <div class="container pt-5 pb-5">
    <img src="{% static 'logo.png' %}" class="mx-auto d-block" style="width:10%">
  </div>
  <div class="container">
    <div class="card shadow mx-5 opacity-100 rounded-5">
        <div class="card-body">
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show rounded-4" role="alert">
                Invalid input. Please try again.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label = "Close"></button>
            </div>
            {% endif %}
            <div class="text-truncate text-left pb-3 px-3">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3 mx-5 mt-3 ">
                      <label for="input_email" class="form-label">Username</label>
                      <input type="text" class="form-control rounded-4" name="username" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3 mx-5 mt-3">
                      <label for="input_email" class="form-label">First Name</label>
                      <input type="text" class="form-control rounded-4" name="first_name" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3 mx-5 mt-3">
                      <label for="input_email" class="form-label">Last Name</label>
                      <input type="text" class="form-control rounded-4" name="last_name" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3 mx-5 mt-3">
                      <label for="input_email" class="form-label">Email</label>
                      <input type="text" class="form-control rounded-4" name="email" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3 mx-5">
                      <label for="input_email" class="form-label">Password</label>
                      <input type="password" class="form-control rounded-4" name="password1">
                    </div>
                    <div class="mb-3 mx-5">
                      <label for="input_email" class="form-label">Re-enter Password</label>
                      <input type="password" class="form-control rounded-4" name="password2">
                    </div>
                    <div class = "text-center">
                      <input type="submit" value="Sign me Up!" class="btn btn-success rounded-4">
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock content %}