{% extends 'base.html' %}

{% load static %}

{% block title %} Dashboard {% endblock title %}

{% block content %}

{% include 'navbar.html' %}
<div class="text-center py-5">
    <h1><strong>About</strong></h1>
    <h4><i>UPscale. UPskill. UPlift. UP.</i></h4>
</div>
<div class="container">
    <div class="text-center">
        <p class="fs-4"><strong>What is <i>UP</i>?</strong></p>
        <p class="text-wrap"><strong>UP</strong> offers assistance with
            documentation and planning to make sure that outreach programs are safe and well-planned. Additionally, it aids in information dissemination, making 
            it simpler to participate and get involved.</p>
        <p><strong>UP</strong> is an outreach planner project that is developed by the following Computer Engineering 
            students of Technological Institute of the Philippines. </p>
    </div>
    <div>
        <p class="fs-4 text-center"><strong>Team <i class="fs-3">UP</i></strong></p>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
            <div class="card h-100 shadow rounded-4 pt-3" style="background-color: #D1EEEA;">     
                  <img src="{% static '1911782.jpg' %}"  class="img-fluid rounded-4 px-2 py-2 box-shadow-sm pix" height="1920px" width="1080px" alt="...">
                  <div class="card-body">
                      <h4 class="card-title">John Carlo Dela Cruz</h4>
                      <p class="card-text">
                          <div class="text-truncate">
                              <strong>CPE41S1-Team 8</strong><br/>
                          </div>
                          <div class="text-truncate">
                              <strong>Team Leader</strong>
                              <br/>
                          </div>
                          <div class="text-truncate">
                              <strong>Email:</strong> qjccdelacruz@tip.edu.ph <br/>
                          </div>
                      </p>
                </div>
            </div>
            </div>

            <div class="col">
            <div class="card h-100 shadow rounded-4 pt-3" style="background-color: #D1EEEA;">
                  <img src="{% static '1910944.jpg' %}" class="img-fluid rounded-4 px-2 py-2 box-shadow-sm " height="1920px" width="1080px" alt="...">
                  <div class="card-body">
                      <h4 class="card-title">Erie Mae Segui</h4>
                      <p class="card-text">
                          <div class="text-truncate">
                              <strong>CPE41S1-Team 8</strong><br/>
                            </div>
                            <div class="text-truncate">
                                <strong>Team Member</strong>
                              <br/>
                          </div>
                          <div class="text-truncate">
                              <strong>Email:</strong> qemcsegui@tip.edu.ph <br/>
                          </div>
                      </p>
                </div>
            </div>
            </div>

            <div class="col">
            <div class="card h-100 shadow rounded-4 pt-3" style="background-color: #D1EEEA;">
                <img src="{% static '1910178.png' %}" class="img-fluid rounded-4 px-2 py-2 box-shadow-sm " height="1920px" width="1080px" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Marayah Celine Jeanne Valera</h4>
                    <p class="card-text">
                        <div class="text-truncate">
                            <strong>CPE41S1-Team 8</strong><br/>
                            </div>
                            <div class="text-truncate">
                                <strong>Team Member</strong>
                              <br/>
                        </div>
                        <div class="text-truncate">
                            <strong>Email:</strong> qmcjdvalera@tip.edu.ph <br/>
                        </div>
                    </p>
              </div>
          </div>
          </div>
    </div>
</div>
<div class="container px-5 pt-5">
    <div class="text-center pb-2">Want to know us more? Like, on a <em>personal</em> level?<br>Here's a Spotify playlist curated by us! 🎶</div>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/7mCUTjbIIz567D9hGTolTd?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>
<div class="container text-center py-3"><br>Made with ❤️ by Team 8<br></div>
</div>
{% endblock content%}