{% extends 'base.html' %}

{% load static %}

{% block title %} Dashboard {% endblock title %}

{% block content %}
<div class="bg-image" style="background: url('https://cdn.discordapp.com/attachments/1021257672454066207/1036278402807767190/bg.png')
    no-repeat center center fixed; 
    background-size: cover;
    min-height: 100vh;">
{% include 'navbar.html' %}
<div class="text-center py-5">
    <h1><strong>About</strong></h1>
    <h4><i>UPscale. UPskill. UPlift. UP.</i></h4>
</div>
<div class="container">
    <div class="text-center">
        <p class="fs-4"><strong>What is <i>UP</i>?</strong></p>
        <p>To make sure that outreach programs are safe and well-planned, <strong>UP</strong> offers assistance with
            documentation and planning. <br> Additionally, it aids in information dissemination, making 
            it simpler to participate and get involved.</p>
        <p><strong>UP</strong> is an outreach planner project that is developed by the following Computer Engineering 
            students of Technological Institute of the Philippines. </p>
    </div>
    <div>
        <p class="fs-4 text-center"><strong>Team <i class="fs-3">UP</i></strong></p>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
            <div class="card h-100 shadow rounded-4 pt-3">     
                  <img src="https://media.gq.com/photos/620ed39116b37a26fe6305e0/16:9/w_1280,c_limit/conan-gray-gq-march-2022-social.jpg"  class="img-fluid rounded-4 px-2 py-2 box-shadow-sm pix" height="1920px" width="1080px" alt="...">
                  <div class="card-body">
                      <h4 class="card-title">John Carlo Dela Cruz</h4>
                      <p class="card-text">
                          <div class="text-truncate">
                              <strong>CPE41S1-Team 8</strong><br/>
                          </div>
                          <div class="text-truncate">
                              <strong>Team Leader</strong>
                              <br/>
                          </div>
                          <div class="text-truncate">
                              <strong>Email:</strong> qjccdelacruz@tip.edu.ph <br/>
                          </div>
                      </p>
                </div>
            </div>
            </div>

            <div class="col">
            <div class="card h-100 shadow rounded-4 pt-3">
                  <img src="https://www.sbs.com.au/popasia/sites/sbs.com.au.popasia/files/styles/full/public/chanyeol.png?itok=Ms_zEPmt&mtime=1574824555" class="img-fluid rounded-4 px-2 py-2 box-shadow-sm " height="1920px" width="1080px" alt="...">
                  <div class="card-body">
                      <h4 class="card-title">Erie Mae Segui</h4>
                      <p class="card-text">
                          <div class="text-truncate">
                              <strong>CPE41S1-Team 8</strong><br/>
                            </div>
                            <div class="text-truncate">
                                <strong>Team Member</strong>
                              <br/>
                          </div>
                          <div class="text-truncate">
                              <strong>Email:</strong> qemcsegui@tip.edu.ph <br/>
                          </div>
                      </p>
                </div>
            </div>
            </div>

            <div class="col">
            <div class="card h-100 shadow rounded-4 pt-3">
                <img src="https://wallpapers.com/images/hd/cha-eun-woo-gangnam-beauty-uczupq23pp63ndkq.jpg" class="img-fluid rounded-4 px-2 py-2 box-shadow-sm " height="1920px" width="1080px" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Marayah Celine Jeanne Valera</h4>
                    <p class="card-text">
                        <div class="text-truncate">
                            <strong>CPE41S1-Team 8</strong><br/>
                            </div>
                            <div class="text-truncate">
                                <strong>Team Member</strong>
                              <br/>
                        </div>
                        <div class="text-truncate">
                            <strong>Email:</strong> qmcjdvalera@tip.edu.ph <br/>
                        </div>
                    </p>
              </div>
          </div>
          </div>
    </div>
</div>
<div class="container text-center py-3"><br>Made with ❤️ by Team 8<br></div>
</div>
{% endblock content%}