{% extends 'base.html' %}

{% block title %} Inbox {% endblock title %}

{% block content %}
<div class="bg-image" style="background: url('https://unsplash.com/photos/n20DUSVsUk8/download?force=true&w=1920')
    no-repeat center center fixed; 
    background-size: cover;
    height: 100vh">

{% include 'navbar.html' %}
<div class="container pt-5 pb-5">
  <img src="https://cdn.discordapp.com/attachments/1021257672454066207/1030091365482233916/logo.png" class="mx-auto d-block" style="width:10%">
</div>
<h1>Inbox</h1>
<div class="container text-center"><br>Made with ❤️ by Team 8<br></div>
</div>
{% endblock content %}