{% extends 'base.html' %}

{% block title %} Inbox {% endblock title %}

{% block content %}
<div class="bg-image" style="background: url('https://cdn.discordapp.com/attachments/1021257672454066207/1036278402807767190/bg.png')
    no-repeat center center fixed; 
    background-size: cover;
    min-height: 100vh;">
{% include 'navbar.html' %}
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-3">
      {% for email in email_list %}
      <div class="col">
          
            <div class="card h-100 shadow rounded-4">
              <div class="card-header text-center">
              </div>
              <div class="card-body">
                  </a><h4 class="card-title">{{ email.user.first_name}} {{ email.user.last_name}}</h4>
              </div>
              </div>
          
      </div>
      {% endfor %}
  </div>
</div>
{% endblock content %}