{% load static %}

<nav class="navbar navbar-expand-lg rounded-bottom sticky-top shadow-sm" style="background-color: #33767C; ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="{% static 'logo.png' %}" height="60px" width="60px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0 text-white">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="{% url 'home' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'list-event' %}">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'list-venue' %}">Venues</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'inbox' %}">
            Inbox
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{ message.check_unread }}
              <span class="visually-hidden">unread messages</span>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu dropdown-menu-end rounded-4 px-2">
            <li><a class="dropdown-item rounded-4" href="{% url 'view_profile' %}">
              Hello, <strong>{{ request.user.first_name }}</strong>!
              <div class="text-muted fw-light">@{{ request.user.username }}</div></a>
            </li>
            <li><a class="dropdown-item rounded-4" href="{% url 'edit-profile' %}">Edit Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item rounded-4" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
      <!--<form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>-->
    </div>
  </div>
</nav>