{% extends 'base.html' %}

{% block content %}
<div class="bg-image" style="background: url('https://unsplash.com/photos/n20DUSVsUk8/download?force=true&w=1920')
    no-repeat center center fixed; 
    background-size: cover;
    min-height: 100vh;">
{% include 'navbar.html' %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card h-100 shadow rounded-4">
            <div class="card-header text-center">
                <strong>Message Details</strong>
              </div>
            <!--<img src="https://cdn.discordapp.com/attachments/1021257672454066207/1028878266553073664/gantt.png" class="img-fluid rounded-4 px-2 py-2 box-shadow-sm" alt="...">-->
            <p class="card-text">
                <div class="text-truncate">
                    <strong>Sender:</strong> {{ email.sender }} <br/>
                </div>
                <div class="text-truncate">
                    <strong>Subject</strong>:</strong> {{ email.subject }}
                </div>
                <div class="text-truncate">
                    <strong>Message:</strong> {{ email.body }} <br/>
                </div>
                <div class="text-truncate">
                    <strong>Date:</strong> {{ email.date }} <br/>
                </div>
            </p>
        </div>
        </div>
    </div>
</div>
{% endblock content %}