{% extends 'base.html' %}

{% block title %} Add Event {% endblock title %}

{% block content %}
<div class="bg-image" style="background: url('https://cdn.discordapp.com/attachments/1021257672454066207/1036278402807767190/bg.png')
    no-repeat center center fixed; 
    background-size: cover;
    min-height: 100vh;">
{% include 'navbar.html' %}
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col">
                <div class="text-start">
                    <a class="btn btn-success btn-sm rounded-4"  href="{% url 'list-event' %}">&larr; Back</a>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <h1><strong>Add an Event</strong></h1>
                </div>
            </div>
            <div class="col">
                <div class="text-end">
                   
                </div>
            </div>
        </div>
    </div>

    {% if submitted %}
        Event Submitted Succesfully!
        <h5 class="text-end pe-5">
            <a class="btn btn-success btn-sm" href="{% url 'add-event' %}"> + Add more Event</a>
        </h5>
        <h5 class="text-end pe-5">
            <a class="btn btn-success btn-sm" href="{% url 'list-event' %}"> Go to Events</a>
        </h5>
    {% else %}

        <form action="" method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Submit" class="btn btn-success">
        </form>

    {% endif %}
    </center>
    <div class="container text-center"><br>Made with ❤️ by Team 8<br></div>
{% endblock %}