<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <script>
      function display_clock() {
          var x = new Date()
          var ampm = x.getHours( ) >= 12 ? ' PM' : ' AM';
          hours = x.getHours( ) % 12;
          hours = hours ? hours : 12;
          hours=hours.toString().length==1? 0+hours.toString() : hours;
          var minutes=x.getMinutes().toString()
          minutes=minutes.length==1 ? 0+minutes : minutes;
          var seconds=x.getSeconds().toString()
          seconds=seconds.length==1 ? 0+seconds : seconds;
          var month=(x.getMonth() +1).toString();
          month=month.length==1 ? 0+month : month;
          var dt=x.getDate().toString();
          dt=dt.length==1 ? 0+dt : dt;
          var x1=month + "/" + dt + "/" + x.getFullYear(); 
          x1 = x1 + " - " +  hours + ":" +  minutes + ":" +  seconds + " " + ampm;
          document.getElementById('clock').innerHTML = x1;
          display();
      }
      function display(){
          var refresh=1000; // Refresh rate in milli seconds
          mytime=setTimeout('display_clock()',refresh)
      }
      display()
  </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'logo-sm.png' %}"/>
      <title>{{ event.event_name }} Summary</title>
    <style>
      body {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
      }

      h1 {
        font-size: 20px;
      }

      
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        
      }

      th, td {
        text-align: justify;
        padding: 2px;
        margin: auto;
        
      }
      
      th {
        width:30%;
      }

      td {
        width: 70%;
      }

      .waw {
        text-align: right;
      }

    </style>
  </head>


  <body onload=display_clock();>
    <div>
      <div>
        <p class="waw">Generated: <span id='clock'></span></p>
      </div>
      <div>
        <h1> {{ event.event_name }} Event Summary</h1>
      </div>
      <table>
        <thead>
          <h2> Event Details </h2>
        </thead>
        <tbody>
          <tr>
            <th><h2>What:</h2></th>
            <td colspan="2">{{ event.event_name }}</td>
          </tr>

          <tr>
            <th><h2>When:</h2></th>
            <td colspan="2"> {{ event.event_date }}</td>
          </tr>

          <tr>
            <th rowspan="5"><h2>Where:</h2></th>
            <td colspan="2"><center><h3>Venue Details</h3></center>
              <tr>
                <th>Venue Name:</th>
                <td>{{ event.venue.venue_name }}</td>
              </tr>
              <tr>
                <th>Address:</th>
                <td>{{ event.venue.address }}</td>
              </tr>
              <tr>
                <th>URL:</th>
                <td>{{ event.venue.web_link }}</td>
              </tr>
              <tr>
                  <th>Contact Details:</th>
                  <td>{{ event.venue.phone }}, {{ event.venue.email }}</td>
              </tr>
            </td>
          </tr>

          <tr>
            <th><h2>Description:</h2></th>
            <td colspan="2"> {{ event.description }}</td>
          <tr>
            <th><h2>Organizer:</h2></th>
            <td colspan="2">
              {% for user in event.organizer.all %} 
                <br>
                {{ user.first_name }} {{ user.last_name }} 
                <br> 
                {{ user.email }}
                <br>
              {% endfor %}
            </td>

          </tr>

          <tr>
            <th><h2>Attendees:</h2></th>
            <td colspan="2">
              {% for user in event.volunteers.all %} 
                <br>
                {{ user.first_name }} {{ user.last_name }} 
                <br> 
                {{ user.email }}
                <br>
              {% endfor %}
              
            </td>
          </tr>
          
        </tbody>
      </table>

      <div>
        <h4>Made with ❤ by Team 8</h4>
      </div>
      
    </div>  
  </body>
</html>
