{% extends 'base.html' %}

{% load static %}

{% block title %} Search Results for {{ searched }} {% endblock title %}

{% block content %}

{% include 'navbar.html' %}
    {% if searched %}
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col">
                <div class="text-start">
                    <a class="btn btn-success btn-sm rounded-4"  href="{% url 'list-event' %}">&larr; Back</a>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <h1>Search Results for <strong>{{ searched }}</strong></h1> 
                </div>
            </div>
            <div class="col">
                
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-3 cropped">
            {% for event in event %}
            <div class="col">
                <a class="text-decoration-none text-reset stretched-link" href="{% url 'show-event' event.id %}" >
                    <div class="card h-100 shadow rounded-4">
                        {% if event.event_image %}
                        <img src="{{ event.event_image.url }}" class="img-fluid rounded-4 px-2 py-2 box-shadow-sm" alt="...">
                        {% else %}
                        <img src="{% static 'temp-large.png' %}" class="img-fluid rounded-4 px-2 py-2 box-shadow-sm" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">{{ event.event_name }}</h4>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col">
                <div class="text-start">
                    <button class="btn btn-success btn-sm rounded-4" onclick="history.back()">&larr; Back</button>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <h1>Search Results for <strong>NOTHING!</strong></h1> 
                </div>
            </div>
            <div class="col">
                
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-3">
            <div class="col">
            </div>
            <div class="col">
                <div class="card h-100 shadow rounded-4">
                    <div class="card-body text-center">
                        You forgot to search something!
                    </div>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container text-center py-3">
        <div class="text-center">Server Time: <span id='clock'></span></div>
        <div class="text-center">Made with ❤️ by Team 8</div>
    </div>
</div>
{% endblock content %}