{% extends 'base.html' %}

{% block title %} {{ event.event_name }} {% endblock title %}

{% block content %}
<div class="bg-image" style="background: url('https://cdn.discordapp.com/attachments/1021257672454066207/1036278402807767190/bg.png')
    no-repeat center center fixed; 
    background-size: cover;
    min-height: 100vh;">
{% include 'navbar.html' %}
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col">
                <div class="text-start">
                    <a class="btn btn-success btn-sm rounded-4"  href="{% url 'list-event' %}">&larr; Back</a>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <h1><strong>{{ event.event_name }}</strong></h1>
                </div>
            </div>
            <div class="col">
                <div class="text-end">
                    <a class="btn btn-success btn-sm rounded-4" href="{% url 'update-event' event.id %}">Update Event</a>
                    <a class="btn btn-danger btn-sm rounded-4" href="{% url 'delete-event' event.id %}">Delete Event</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
              <div class="card h-100 shadow rounded-4">
                <div class="card-header text-center">
                    <strong>Event Details</strong>
                  </div>
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                        <div class="text-truncate">
                            <strong>Date:</strong> {{ event.event_date }} <br/>
                        </div>
                        <div class="text-truncate">
                            <strong>Venue:</strong> {{ event.venue }}
                        </div>
                        <div class="text-truncate">
                            <strong>Organizer:</strong> {% for user in event.organizer.all %} {{ user }}, {% endfor %} <br/>
                        </div>
                        <div class="text-truncate">
                            <strong>Description:</strong> {{ event.description }} <br/>
                        </div>
                        <div class="text-truncate">
                            <strong>Volunteers:</strong><br> {% for user in event.volunteers.all %} {{ user }}<br> {% endfor %} <br/>
                        </div>
                    </p>
              </div>
            </div>
    </div>
    <div class="container text-center"><br>Made with ❤️ by Team 8<br></div>
</div>
{% endblock content %}