{% extends 'base.html' %}

{% block title %} {{ event.event_name }} {% endblock title %}

{% block content %}
<div class="bg-image" style="background: url('https://cdn.discordapp.com/attachments/1021257672454066207/1036278402807767190/bg.png')
    no-repeat center center fixed; 
    background-size: cover;
    min-height: 100vh;">
{% include 'navbar.html' %}
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col">
                <div class="text-start">
                    <a class="btn btn-success btn-sm rounded-4"  href="{% url 'list-event' %}">&larr; Back</a>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <h1><strong>{{ event.event_name }}</strong></h1>
                </div>
            </div>
            <div class="col">
                {% if request.user.is_staff %}
                <div class="text-end">
                    <div class="pb-2">
                    <a class="btn btn-success btn-sm rounded-4" href="{% url 'update-event' event.id %}">Update Event</a>
                    <button type="button"class="btn btn-danger btn-sm rounded-4" data-bs-toggle="modal" data-bs-target="#confirmation">
                            Delete Event</button></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
              <div class="card h-100 shadow rounded-4">
                <div class="card-header text-center">
                    <strong>Event Details</strong>
                  </div>
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                        <div class="text-truncate">
                            <strong>Date:</strong> {{ event.event_date }} <br/>
                        </div>
                        <div class="text-truncate">
                            <strong>Venue:</strong> {{ event.venue }}
                        </div>
                        <div class="text-truncate">
                            <strong>Organizer:</strong> {% for user in event.organizer.all %} {{ user }}, {% endfor %} <br/>
                        </div>
                        <div class="text-truncate">
                            <strong>Description:</strong> {{ event.description }} <br/>
                        </div>
                        <div class="text-truncate">
                            <strong>Volunteers:</strong><br> {% for user in event.volunteers.all %} {{ user }}<br> {% endfor %} <br/>
                        </div>
                    </p>
                    <div>
                        <div class="text-end">
                            <a class="btn btn-info btn-sm rounded-4" href="{% url 'event-pdf' event.id %}">Print to PDF</a>
                        </div>
                    </div>
              </div>
            </div>
    </div>
    <div class="container text-center"><br>Made with ❤️ by Team 8<br></div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="confirmationLabel">Confirmation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete <strong>{{ event.event_name}}</strong>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary rounded-4" data-bs-dismiss="modal">Close</button>
          <a class="btn btn-danger rounded-4" href="{% url 'delete-event' event.id %}">Delete</a>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}