{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="bg-image" style="background: url('https://cdn.discordapp.com/attachments/1021257672454066207/1036278402807767190/bg.png')
      no-repeat center center fixed; 
      background-size: cover;
      min-height: 100vh;">
{% include 'navbar.html' %}
<div class="container">
  <div class="row align-items-center py-5">
      <div class="col">
          <div class="text-start">
              <button class="btn btn-success btn-sm rounded-4" onclick="history.back()">&larr; Back</button>
          </div>
      </div>
      <div class="col">
          <div class="text-center">
              <h1><strong>{{act}}</strong></h1>
          </div>
      </div>
      <div class="col">
          <div class="text-end">
              <a class="btn btn-success btn-sm rounded-4" href="{% url 'usersearch' %}">Compose Message</a>
          </div>
      </div>
  </div>
</div>

<div class = "container">
  <div class="card shadow mx-5 opacity-100 rounded-5 h-25">
      <div class="card-body overflow-auto">
        {% for direct in directs %}
          <div class="card my-2 mx-5 opacity-100 rounded-5">
            <div class="card-body">
                <div>
                  <div>
                    <p>
                      <strong>{{ direct.sender.profile.first_name }} {{ direct.sender.profile.last_name }}</strong> <small>@{{ direct.sender.username }}</small> on: <strong><small>{{ direct.date|date:'N d G:i'}}</small></strong>
                      </h5>
                    </p>
                    {{ direct.body }} 
                  </div>
                </div>
            </div>
          </div>
          {% endfor %}
      </div>
      <div class="text-center">
      <form method="POST" action="{% url 'send_direct' %}">
        {% csrf_token %}
        <div>
          <input type="hidden" name="to_user" value="{{active_direct}}">
          <div class="w-auto">
            <input type="text" class="rounded-4" name="body" placeholder="Enter a message">
          </div>
          <button type="submit" name="action" class="btn btn-success btn-sm rounded-3">Send</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}