{% extends 'base.html' %}

{% load static %}

{% block title %} Venues {% endblock title %}

{% block content %}

{% include 'navbar.html' %}
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col">
                <div class="text-start">
                    <button class="btn btn-success btn-sm rounded-4" onclick="history.back()">&larr; Back</button>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <h1><strong>Venues</strong></h1>
                </div>
            </div>
            <div class="col">
                <div class="text-end">
                    {% if request.user.is_staff %}
                    <a class="btn btn-success btn-sm rounded-4" href="{% url 'add-venue' %}">+ Add a Venue</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
            
    <div class="container">
        <div>
            <form class="d-flex" method=POST action="{% url 'search-venue' %}">
                {% csrf_token %}
                <input class="form-control me-2 rounded-4" type="search" placeholder="Search Venues" aria-label="Search" name="searched">
                <button class="btn btn-secondary rounded-4" type="Submit">Search</button>
            </form>
        </div>
        <div class="container py-3">
        <div class="row row-cols-1 row-cols-md-3 g-3 cropped">
            {% for venue in venue_list %}
            <div class="col">
                <div class="card h-100 shadow rounded-4" style="background-color: #D1EEEA;">
                    <a href="{% url 'show-venue' venue.id %}" class="text-decoration-none text-reset stretched-link"></a>
                    {% if venue.venue_image %}
                    <img src="{{ venue.venue_image.url }}" class="img-fluid rounded-4 px-2 py-2 box-shadow-sm" alt="...">
                    {% else %}
                    <img src="{% static 'temp-large.png' %}" class="img-fluid rounded-4 px-2 py-2 box-shadow-sm" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">{{ venue.venue_name }}</h4>
                    </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
    <div class="container text-center py-3">
        <div class="text-center">Server Time: <span id='clock'></span></div>
        <div class="text-center">Made with ❤️ by Team 8</div>
    </div>
</div>
{% endblock content %}

{% include 'test_modal.html' %}